h3{
    font-size: 20px;
    color: #fff;
    font-weight: 700;
}
p{
    font-size: 30px;
    font-weight: 600;
    color: #003f5c   ;
}
img{
    height: 100px;
}

@media (max-width:720px) {
    img{
        margin-top: 16px;
    }
}