h2{
    background: #194a7a;
    color: #fff;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 18px;
}
 /* Namespace + Scope + Component + Category + Property */
.slds-badge{
    --slds-c-badge-color-background:#a3b7ca;
    --slds-c-badge-text-color:#000;
}